<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Centre Equestre</title>
</head>
<body>

<h1>Détails du Cours</h1>
Voici les détails du cours :

<p th:text="${mycours.discipline}"></p>
<p th:text="${mycours.date_cours}"></p>
<p th:text="${mycours.heure}"></p>
<p th:text="${mycours.duree}"></p>
<p th:text="${mycours.niveau_requis}"></p>
<p th:text="${mycours.nbr_cavalier_max}"></p>
<p th:text="${mycours.prof}"></p>

</body>
</html>
