body {
  background-color: #e0c09f; /* Marron clair / Ocre */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Utilisation d'une police de caractères similaire */
}
h1 {
  text-align: center;
  margin-top: 50px;
}
form {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5); /* Blanc à moitié transparent */
  border-radius: 15px; /* Coins arrondis */
  padding: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
button[type="submit"] {
  background-color: #102b18; /* Marron foncé */
  color: white; /* Texte blanc */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
button[type="submit"]:hover {
  background-color: #3a9d23;
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.5); /* Blanc à moitié transparent */
  border-radius: 15px; /* Coins arrondis */
}
th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd; /* Bordure inférieure */
}
th {
  background-color: #102b18; /* Marron foncé */
  color: white; /* Texte blanc */
}
td {
  background-color: #f2f2f2; /* Gris clair */
}
a {
  display: inline-block;
  background-color: #102b18; /* Marron foncé */
  color: white; /* Texte blanc */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
a:hover {
  background-color: #3a9d23;
  text-decoration: none;
}
.add-button-container {
  text-align: center;
  margin-top: 20px;
}
