<!-- resources/templates/cavalier/listCavaliers.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Cavaliers</title>
</head>
<body>
<h2>Liste des Cavaliers</h2>
<a th:href="@{/cavaliers/addCavalier}">Ajouter un Cavalier</a>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <!-- Ajout d'autres colonnes si besoins -->
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cavalier : ${cavaliers}">
        <td th:text="${cavalier.nom}"></td>
        <td th:text="${cavalier.prenom}"></td>
        <!-- Ajout d'autres colonnes si besoins -->
        <td>
            <a th:href="@{/cavaliers/editCavalier/{id}(id=${cavalier.id_cav})}">Modifier</a>
            <a th:href="@{/cavaliers/delete/{id}(id=${cavalier.id_cav})}">Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
